
<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4ab771dfc3c848768ff926ef6dc7314b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
    <script src="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_4ab771dfc3c848768ff926ef6dc7314b" ></div>
        
</body>
<script>    
    
            var map_4ab771dfc3c848768ff926ef6dc7314b = L.map(
                "map_4ab771dfc3c848768ff926ef6dc7314b",
                {
                    center: [29.559684888503615, -95.0830971930759],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d4207504c0af4630b38a53c040b5d32e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var circle_f5f4e0adff9849dea2701687ca215745 = L.circle(
                [28.56230196799018, -80.57735647504778],
                {"bubblingMouseEvents": true, "color": "#d35400", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#d35400", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
        var popup_6508b0ea184f4ce0b65e068026b4139f = L.popup({"maxWidth": "100%"});

        
            var html_54c639362b464a479174cf43698cb0e0 = $(`<div id="html_54c639362b464a479174cf43698cb0e0" style="width: 100.0%; height: 100.0%;">CCAFS LC-40</div>`)[0];
            popup_6508b0ea184f4ce0b65e068026b4139f.setContent(html_54c639362b464a479174cf43698cb0e0);
        

        circle_f5f4e0adff9849dea2701687ca215745.bindPopup(popup_6508b0ea184f4ce0b65e068026b4139f)
        ;

        
    
    
            var marker_5b26e57ac99148589986ca9b54ebce11 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var div_icon_9b62f4044be94b1bb4b9ff88c9ddf909 = L.divIcon({"className": "empty", "html": "\u003cdiv style=\"font-size: 12; color:#d35400;\"\u003e\u003cb\u003eCCAFS LC-40\u003c/b\u003e\u003c/div\u003e", "iconAnchor": [0, 0], "iconSize": [20, 20]});
            marker_5b26e57ac99148589986ca9b54ebce11.setIcon(div_icon_9b62f4044be94b1bb4b9ff88c9ddf909);
        
    
            var circle_e9dbb8c5a249423bbfcd942b878287c0 = L.circle(
                [28.563197177407144, -80.57682003124195],
                {"bubblingMouseEvents": true, "color": "#d35400", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#d35400", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
        var popup_318744a96dc34d96b770416e614b515e = L.popup({"maxWidth": "100%"});

        
            var html_d7ba4ea0b10c4094b74a0a398e5ce826 = $(`<div id="html_d7ba4ea0b10c4094b74a0a398e5ce826" style="width: 100.0%; height: 100.0%;">CCAFS SLC-40</div>`)[0];
            popup_318744a96dc34d96b770416e614b515e.setContent(html_d7ba4ea0b10c4094b74a0a398e5ce826);
        

        circle_e9dbb8c5a249423bbfcd942b878287c0.bindPopup(popup_318744a96dc34d96b770416e614b515e)
        ;

        
    
    
            var marker_ae16df0a98f242dd8bbc698096229b5f = L.marker(
                [28.563197177407144, -80.57682003124195],
                {}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var div_icon_01c3eb0f4a8643cca5c9611ca6fbfd59 = L.divIcon({"className": "empty", "html": "\u003cdiv style=\"font-size: 12; color:#d35400;\"\u003e\u003cb\u003eCCAFS SLC-40\u003c/b\u003e\u003c/div\u003e", "iconAnchor": [0, 0], "iconSize": [20, 20]});
            marker_ae16df0a98f242dd8bbc698096229b5f.setIcon(div_icon_01c3eb0f4a8643cca5c9611ca6fbfd59);
        
    
            var circle_2c7bac44b2a04dc789203d4941407b47 = L.circle(
                [28.57325457037815, -80.64689528960382],
                {"bubblingMouseEvents": true, "color": "#d35400", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#d35400", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
        var popup_7d84bb74ffb6480988f0729d25ec803a = L.popup({"maxWidth": "100%"});

        
            var html_933d86ebfc8041239290cb2faefb0047 = $(`<div id="html_933d86ebfc8041239290cb2faefb0047" style="width: 100.0%; height: 100.0%;">KSC LC-39A</div>`)[0];
            popup_7d84bb74ffb6480988f0729d25ec803a.setContent(html_933d86ebfc8041239290cb2faefb0047);
        

        circle_2c7bac44b2a04dc789203d4941407b47.bindPopup(popup_7d84bb74ffb6480988f0729d25ec803a)
        ;

        
    
    
            var marker_0e1fc4d3f0214376ba10bfc70dc21af4 = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var div_icon_3fb60ab7dffb40db9af15e6a1237e8c7 = L.divIcon({"className": "empty", "html": "\u003cdiv style=\"font-size: 12; color:#d35400;\"\u003e\u003cb\u003eKSC LC-39A\u003c/b\u003e\u003c/div\u003e", "iconAnchor": [0, 0], "iconSize": [20, 20]});
            marker_0e1fc4d3f0214376ba10bfc70dc21af4.setIcon(div_icon_3fb60ab7dffb40db9af15e6a1237e8c7);
        
    
            var circle_722d90ef94b9471ead6b0d3831a2fe9c = L.circle(
                [34.632834161782775, -120.61074553068327],
                {"bubblingMouseEvents": true, "color": "#d35400", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#d35400", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
        var popup_b5e58708cbab43eca2308c1ddf6f4bfd = L.popup({"maxWidth": "100%"});

        
            var html_6210bbc2b163483da15769a5ed90d655 = $(`<div id="html_6210bbc2b163483da15769a5ed90d655" style="width: 100.0%; height: 100.0%;">VAFB SLC-4E</div>`)[0];
            popup_b5e58708cbab43eca2308c1ddf6f4bfd.setContent(html_6210bbc2b163483da15769a5ed90d655);
        

        circle_722d90ef94b9471ead6b0d3831a2fe9c.bindPopup(popup_b5e58708cbab43eca2308c1ddf6f4bfd)
        ;

        
    
    
            var marker_6c72bb8fbbbb4eb0bf84f9f3a8f4ceb3 = L.marker(
                [34.632834161782775, -120.61074553068327],
                {}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var div_icon_2d0c05d23e6943618a9c4687c26db477 = L.divIcon({"className": "empty", "html": "\u003cdiv style=\"font-size: 12; color:#d35400;\"\u003e\u003cb\u003eVAFB SLC-4E\u003c/b\u003e\u003c/div\u003e", "iconAnchor": [0, 0], "iconSize": [20, 20]});
            marker_6c72bb8fbbbb4eb0bf84f9f3a8f4ceb3.setIcon(div_icon_2d0c05d23e6943618a9c4687c26db477);
        
    
            var marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb = L.markerClusterGroup(
                {}
            );
            map_4ab771dfc3c848768ff926ef6dc7314b.addLayer(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var marker_a173550057cc4e19a07e29ef5e940395 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_416f2bac6fd24dee88eafa375e662c39 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_a173550057cc4e19a07e29ef5e940395.setIcon(icon_416f2bac6fd24dee88eafa375e662c39);
        
    
            var marker_e8f523e85ce4470d8f1b1b23a8ccf79a = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_71578ee1b0484cb190bab8f9a8b5daf3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_e8f523e85ce4470d8f1b1b23a8ccf79a.setIcon(icon_71578ee1b0484cb190bab8f9a8b5daf3);
        
    
            var marker_dcc51a2b8e754581a4dabc6811b6b1b1 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_398534d9f1bd4638ae07f3657541f0da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_dcc51a2b8e754581a4dabc6811b6b1b1.setIcon(icon_398534d9f1bd4638ae07f3657541f0da);
        
    
            var marker_4a4371d8c4904e0284355e771460ac9b = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_7a2f0b7d316248f88539a6459138c03f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_4a4371d8c4904e0284355e771460ac9b.setIcon(icon_7a2f0b7d316248f88539a6459138c03f);
        
    
            var marker_bc803454bc954b2db8f8c9930fbd7b4d = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_b27d6c0013d54d2e8ad2d1ad5c1eae2c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_bc803454bc954b2db8f8c9930fbd7b4d.setIcon(icon_b27d6c0013d54d2e8ad2d1ad5c1eae2c);
        
    
            var marker_661461ec986b49b19d7cb5a3b52431b1 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_54714ed80e03409993e9fb6e7a769213 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_661461ec986b49b19d7cb5a3b52431b1.setIcon(icon_54714ed80e03409993e9fb6e7a769213);
        
    
            var marker_2bea33010b58492d8f17ca710db03b3d = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_5572ad1b19ec414d85d6d3fd6323142d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_2bea33010b58492d8f17ca710db03b3d.setIcon(icon_5572ad1b19ec414d85d6d3fd6323142d);
        
    
            var marker_874734949280490f84a7b776c39f85cf = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_029ff32b440b48f5b50a6b7feeb26290 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_874734949280490f84a7b776c39f85cf.setIcon(icon_029ff32b440b48f5b50a6b7feeb26290);
        
    
            var marker_4996c671894346e0b16fb5756599aba1 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_9d52cdbe08a9404cacfbbe7998bdd416 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_4996c671894346e0b16fb5756599aba1.setIcon(icon_9d52cdbe08a9404cacfbbe7998bdd416);
        
    
            var marker_9a5a39915d0546838ea7648bd03a78c9 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_fb4c7134777e4f92943d8c36258adf55 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_9a5a39915d0546838ea7648bd03a78c9.setIcon(icon_fb4c7134777e4f92943d8c36258adf55);
        
    
            var marker_2c137e88600242cfb2136d596760b893 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_cddc996e40254bafb162f254f0b3ef8a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_2c137e88600242cfb2136d596760b893.setIcon(icon_cddc996e40254bafb162f254f0b3ef8a);
        
    
            var marker_56f637ac3f8c4c46a3684b0c76f7afdf = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_033012058da14432be5e451887e3edee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_56f637ac3f8c4c46a3684b0c76f7afdf.setIcon(icon_033012058da14432be5e451887e3edee);
        
    
            var marker_a6c1b95ef1c0416a863ce7096f85ea73 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_a6b249083df64d1e851afd25dbc3d16a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_a6c1b95ef1c0416a863ce7096f85ea73.setIcon(icon_a6b249083df64d1e851afd25dbc3d16a);
        
    
            var marker_73bc9c76f94e41f9b2e8b3aa6d67692d = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_df685cf6ce7a46d8b5b2a099bcb73c45 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_73bc9c76f94e41f9b2e8b3aa6d67692d.setIcon(icon_df685cf6ce7a46d8b5b2a099bcb73c45);
        
    
            var marker_a4d34b7226b44716a9e51d20676d6001 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_c1d404ad8598484682af65343d85aa9f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_a4d34b7226b44716a9e51d20676d6001.setIcon(icon_c1d404ad8598484682af65343d85aa9f);
        
    
            var marker_83f0c3f6e24143c6b75e1432f4fbea5a = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_b09c56a295624d87bfffb5358af124d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_83f0c3f6e24143c6b75e1432f4fbea5a.setIcon(icon_b09c56a295624d87bfffb5358af124d3);
        
    
            var marker_6e6e5f0a9a9a4ffb805db9d93e9916a6 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_1dd9d55c4e2c49dc85ac8d76d403c06b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_6e6e5f0a9a9a4ffb805db9d93e9916a6.setIcon(icon_1dd9d55c4e2c49dc85ac8d76d403c06b);
        
    
            var marker_2389732868de4f36b2133fb4c8743b53 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_0b9e665f8a5d46b0ad15613addb91a17 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_2389732868de4f36b2133fb4c8743b53.setIcon(icon_0b9e665f8a5d46b0ad15613addb91a17);
        
    
            var marker_f99ba95e734548708bd7702c39b558ba = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_c17d7b336edd4e068b06ef42f7cd555d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_f99ba95e734548708bd7702c39b558ba.setIcon(icon_c17d7b336edd4e068b06ef42f7cd555d);
        
    
            var marker_5755247ed554448e9da5052d30780bef = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_01e21039df0141c7bc7736d597541db1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_5755247ed554448e9da5052d30780bef.setIcon(icon_01e21039df0141c7bc7736d597541db1);
        
    
            var marker_7fab262356194cd6a4d64b88f4d7d0f6 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_82299b8e3aef4f31a5a580f878ee2eb7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_7fab262356194cd6a4d64b88f4d7d0f6.setIcon(icon_82299b8e3aef4f31a5a580f878ee2eb7);
        
    
            var marker_ddfef8302054438295df75029c7ddb19 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_89fc218c688c4e0e9568b635db690fb6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_ddfef8302054438295df75029c7ddb19.setIcon(icon_89fc218c688c4e0e9568b635db690fb6);
        
    
            var marker_091eccafc1574c5ab747a860b96ccdcf = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_5ac2f365b6d749cb8164155ab8d36d21 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_091eccafc1574c5ab747a860b96ccdcf.setIcon(icon_5ac2f365b6d749cb8164155ab8d36d21);
        
    
            var marker_16c44a80adb3473bb438f66c21e925b7 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_9fec8f354a08425191e0b2de99aeebc0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_16c44a80adb3473bb438f66c21e925b7.setIcon(icon_9fec8f354a08425191e0b2de99aeebc0);
        
    
            var marker_8e4b68c863af40b3b05fd9639c6f62b9 = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_87c3366c339441b6b091a69a9e46e6b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_8e4b68c863af40b3b05fd9639c6f62b9.setIcon(icon_87c3366c339441b6b091a69a9e46e6b7);
        
    
            var marker_58819fd3da474933bbc18f419062637d = L.marker(
                [28.56230196799018, -80.57735647504778],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_da96cd037b3341d98653d9d9d6366611 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_58819fd3da474933bbc18f419062637d.setIcon(icon_da96cd037b3341d98653d9d9d6366611);
        
    
            var marker_50ecee962e984528895d7366950bf88c = L.marker(
                [34.632834161782775, -120.61074553068327],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_963c76e075e84abea9e26bde39997cbe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_50ecee962e984528895d7366950bf88c.setIcon(icon_963c76e075e84abea9e26bde39997cbe);
        
    
            var marker_a9248cc6a7404c3298754364598ecd7d = L.marker(
                [34.632834161782775, -120.61074553068327],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_019e0b1c312c494da105673dc5ef0dc4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_a9248cc6a7404c3298754364598ecd7d.setIcon(icon_019e0b1c312c494da105673dc5ef0dc4);
        
    
            var marker_a2874b5f3ffe4fd0a7aad99e5050f7fb = L.marker(
                [34.632834161782775, -120.61074553068327],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_2c6408fac6d84ace840805c663729ca2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_a2874b5f3ffe4fd0a7aad99e5050f7fb.setIcon(icon_2c6408fac6d84ace840805c663729ca2);
        
    
            var marker_def34cec1a214f3bb919a7944b349c8b = L.marker(
                [34.632834161782775, -120.61074553068327],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_089ac3e9ddd44fd3a7a7bd99ab88826a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_def34cec1a214f3bb919a7944b349c8b.setIcon(icon_089ac3e9ddd44fd3a7a7bd99ab88826a);
        
    
            var marker_54e169f5df1b480eb4a9289873282f41 = L.marker(
                [34.632834161782775, -120.61074553068327],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_2d23c5bf68ab445f87a8eb99a6eec2eb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_54e169f5df1b480eb4a9289873282f41.setIcon(icon_2d23c5bf68ab445f87a8eb99a6eec2eb);
        
    
            var marker_e8584fa40ede43c385b9692695aa88f0 = L.marker(
                [34.632834161782775, -120.61074553068327],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_5b08291a9fc64252b04746557688f4f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_e8584fa40ede43c385b9692695aa88f0.setIcon(icon_5b08291a9fc64252b04746557688f4f1);
        
    
            var marker_a8f97f9875b64412b614fa53332d1d62 = L.marker(
                [34.632834161782775, -120.61074553068327],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_8ce70dd4699e4a54b84f27709eca48b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_a8f97f9875b64412b614fa53332d1d62.setIcon(icon_8ce70dd4699e4a54b84f27709eca48b3);
        
    
            var marker_b971ac2ffe464949a4c275af2e8fc84f = L.marker(
                [34.632834161782775, -120.61074553068327],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_12229bd497194639bb54c949391408b2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_b971ac2ffe464949a4c275af2e8fc84f.setIcon(icon_12229bd497194639bb54c949391408b2);
        
    
            var marker_1fb163dec89948d1b836382bd55a815d = L.marker(
                [34.632834161782775, -120.61074553068327],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_49d6c2711233466ba4ed74a66319f6e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_1fb163dec89948d1b836382bd55a815d.setIcon(icon_49d6c2711233466ba4ed74a66319f6e3);
        
    
            var marker_a677057ab44b42dab3715c05082d32fe = L.marker(
                [34.632834161782775, -120.61074553068327],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_22b47301dc194392a8f9279004cc194a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_a677057ab44b42dab3715c05082d32fe.setIcon(icon_22b47301dc194392a8f9279004cc194a);
        
    
            var marker_2062cdb1e826475090c13df7ccf04dc4 = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_5899a715d8e0461b9c53b5b85591cd70 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_2062cdb1e826475090c13df7ccf04dc4.setIcon(icon_5899a715d8e0461b9c53b5b85591cd70);
        
    
            var marker_74f24c8ae2e14062829149aece71b4bc = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_43c56a93b6a14b51849379925759e172 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_74f24c8ae2e14062829149aece71b4bc.setIcon(icon_43c56a93b6a14b51849379925759e172);
        
    
            var marker_7627b082c0b74d6da198d0a869c6d08d = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_87f4779c41914806b53637de5204b17c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_7627b082c0b74d6da198d0a869c6d08d.setIcon(icon_87f4779c41914806b53637de5204b17c);
        
    
            var marker_7a2fa6841d35486fb9ed3fa294ea8de3 = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_d7d9b2a8192443539519be35b881bbd1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_7a2fa6841d35486fb9ed3fa294ea8de3.setIcon(icon_d7d9b2a8192443539519be35b881bbd1);
        
    
            var marker_cfa707e25ff240cf9605ddfdbde575ce = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_b296bb8be50c48ebb8296ec310ba2952 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_cfa707e25ff240cf9605ddfdbde575ce.setIcon(icon_b296bb8be50c48ebb8296ec310ba2952);
        
    
            var marker_0b47d3224aa543268ba62b5357457fc8 = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_bce7b58a7ba74067adfe5635f64144a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_0b47d3224aa543268ba62b5357457fc8.setIcon(icon_bce7b58a7ba74067adfe5635f64144a1);
        
    
            var marker_6e8d552bfd8e4692bad3c651936fdde2 = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_1d72914c39b844fdb78a64196ad05c65 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_6e8d552bfd8e4692bad3c651936fdde2.setIcon(icon_1d72914c39b844fdb78a64196ad05c65);
        
    
            var marker_696bdcca6e1c448dbd1474b7b2d6602c = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_f06e70b662f642a19052c361fd0abaf8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_696bdcca6e1c448dbd1474b7b2d6602c.setIcon(icon_f06e70b662f642a19052c361fd0abaf8);
        
    
            var marker_462b4a5aa29f42fc8cebe1351ceeea81 = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_ebc909cc1b26404dae1a19c7e0d911b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_462b4a5aa29f42fc8cebe1351ceeea81.setIcon(icon_ebc909cc1b26404dae1a19c7e0d911b4);
        
    
            var marker_86f059ed64a245cda001c9663dd378c2 = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_918eb97214b2478389ff2fcc5582e147 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_86f059ed64a245cda001c9663dd378c2.setIcon(icon_918eb97214b2478389ff2fcc5582e147);
        
    
            var marker_74fbd9cef2df48f49d87df4db34074d6 = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_98f0057bb51e461f8b350add87d80c9d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_74fbd9cef2df48f49d87df4db34074d6.setIcon(icon_98f0057bb51e461f8b350add87d80c9d);
        
    
            var marker_8e84396d529e45b4ab089ccc9a144217 = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_9ddfdc31a8f845c7bb260ea2809cd27f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_8e84396d529e45b4ab089ccc9a144217.setIcon(icon_9ddfdc31a8f845c7bb260ea2809cd27f);
        
    
            var marker_613493da465444a08c2865d813b2c590 = L.marker(
                [28.57325457037815, -80.64689528960382],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_9e6d7f995a5248dd920ebd23895ecbc5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_613493da465444a08c2865d813b2c590.setIcon(icon_9e6d7f995a5248dd920ebd23895ecbc5);
        
    
            var marker_ba4e628f27094d82a29eebde4c4df710 = L.marker(
                [28.563197177407144, -80.57682003124195],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_7b0867f10524455bbe86a0107dfa64b2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_ba4e628f27094d82a29eebde4c4df710.setIcon(icon_7b0867f10524455bbe86a0107dfa64b2);
        
    
            var marker_ecf3537683ce41868e0ef2870490b071 = L.marker(
                [28.563197177407144, -80.57682003124195],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_e11137723f724d5a92ca146fbd4091df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_ecf3537683ce41868e0ef2870490b071.setIcon(icon_e11137723f724d5a92ca146fbd4091df);
        
    
            var marker_eea655ea9a2845c2bd1b7e7d78a7ee5e = L.marker(
                [28.563197177407144, -80.57682003124195],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_708be6f62df948c1a93e9bc36eae2155 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_eea655ea9a2845c2bd1b7e7d78a7ee5e.setIcon(icon_708be6f62df948c1a93e9bc36eae2155);
        
    
            var marker_dc41407fbe654dc886b692b49d49685c = L.marker(
                [28.563197177407144, -80.57682003124195],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_acb90e190403495f91092edc10ccedbc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_dc41407fbe654dc886b692b49d49685c.setIcon(icon_acb90e190403495f91092edc10ccedbc);
        
    
            var marker_19ae8834bd194b0e88cbc293a3c9aa68 = L.marker(
                [28.563197177407144, -80.57682003124195],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_a97280440c8040199d1827f31708dcb2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_19ae8834bd194b0e88cbc293a3c9aa68.setIcon(icon_a97280440c8040199d1827f31708dcb2);
        
    
            var marker_88cabde4e93d4330a74a0a9595d82e4e = L.marker(
                [28.563197177407144, -80.57682003124195],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_4998a765caa34901a578372dd0731bac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "green", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_88cabde4e93d4330a74a0a9595d82e4e.setIcon(icon_4998a765caa34901a578372dd0731bac);
        
    
            var marker_e52b78e1c7f1464c943f5c9420de73ef = L.marker(
                [28.563197177407144, -80.57682003124195],
                {}
            ).addTo(marker_cluster_aa43e2f3f1554bf3b78bb2816bc4aceb);
        
    
            var icon_18f8a6519b7d4952b67dc125ec187369 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "red", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_e52b78e1c7f1464c943f5c9420de73ef.setIcon(icon_18f8a6519b7d4952b67dc125ec187369);
        
    
            var mouse_position_9b5a5b4849874705b2d2f02407f534d2 = new L.Control.MousePosition(
                {"emptyString": "NaN", "lngFirst": false, "numDigits": 20, "position": "topright", "prefix": "Lat:", "separator": " Long: "}
            );
            mouse_position_9b5a5b4849874705b2d2f02407f534d2.options["latFormatter"] =
                function(num) {return L.Util.formatNum(num, 5);};;
            mouse_position_9b5a5b4849874705b2d2f02407f534d2.options["lngFormatter"] =
                function(num) {return L.Util.formatNum(num, 5);};;
            map_4ab771dfc3c848768ff926ef6dc7314b.addControl(mouse_position_9b5a5b4849874705b2d2f02407f534d2);
        
    
            var marker_d1432dc9ae2043c09885c50bbb1236b0 = L.marker(
                [28.56341, -80.56806],
                {}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var div_icon_d4d96a58414142d9a9dfd7020482c7f9 = L.divIcon({"className": "empty", "html": "\u003cdiv style=\"font-size: 12; color:#d35400;\"\u003e\u003cb\u003e      0.86 KM\u003c/b\u003e\u003c/div\u003e", "iconAnchor": [0, 0], "iconSize": [20, 20]});
            marker_d1432dc9ae2043c09885c50bbb1236b0.setIcon(div_icon_d4d96a58414142d9a9dfd7020482c7f9);
        
    
            var poly_line_dd2239be29ca4215a7c99a72e6aac9e3 = L.polyline(
                [[28.563197, -80.57682], [28.56341, -80.56806]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var marker_de274bc3fd6d4da9b88a2858c42d4dcc = L.marker(
                [28.57203, -80.585276],
                {}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var div_icon_cf2e7dc6f1ad428a88544340c965e9c3 = L.divIcon({"className": "empty", "html": "\u003cdiv style=\"font-size: 12; color:#d35400;\"\u003e\u003cb\u003e      0.86 KM\u003c/b\u003e\u003c/div\u003e", "iconAnchor": [0, 0], "iconSize": [20, 20]});
            marker_de274bc3fd6d4da9b88a2858c42d4dcc.setIcon(div_icon_cf2e7dc6f1ad428a88544340c965e9c3);
        
    
            var poly_line_c61938663edd48409db2ed362b3b6d65 = L.polyline(
                [[28.563197, -80.57682], [28.57203, -80.585276]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var marker_77c9cd1df04e483cb2a1bfd984890891 = L.marker(
                [28.5632, -80.57079],
                {}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var div_icon_38300514b773492b8b0b6a6929382586 = L.divIcon({"className": "empty", "html": "\u003cdiv style=\"font-size: 12; color:#d35400;\"\u003e\u003cb\u003e      0.59 KM\u003c/b\u003e\u003c/div\u003e", "iconAnchor": [0, 0], "iconSize": [20, 20]});
            marker_77c9cd1df04e483cb2a1bfd984890891.setIcon(div_icon_38300514b773492b8b0b6a6929382586);
        
    
            var poly_line_08aeeb8d6beb4cba925297ce9377dd8a = L.polyline(
                [[28.563197, -80.57682], [28.5632, -80.57079]],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var marker_fba23a1feb144ec0b61146c4d75afebb = L.marker(
                [28.53566, -81.381059],
                {}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
    
            var div_icon_5f2ab3bb57344847ac8616d8ac077f51 = L.divIcon({"className": "empty", "html": "\u003cdiv style=\"font-size: 12; color:#d35400;\"\u003e\u003cb\u003e     78.64 KM\u003c/b\u003e\u003c/div\u003e", "iconAnchor": [0, 0], "iconSize": [20, 20]});
            marker_fba23a1feb144ec0b61146c4d75afebb.setIcon(div_icon_5f2ab3bb57344847ac8616d8ac077f51);
        
    
            var poly_line_ba673b5b19d84c029cc937503bc85ec3 = L.polyline(
                [[28.563197, -80.57682], [28.53566, -81.38105]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_4ab771dfc3c848768ff926ef6dc7314b);
        
</script>