{% macro footer() -%}
<section class="contact">
    <h1 class="heading" id="contact">Contact</h1>
    <div class="container">
      <div class="row">
          <div class="col-6"> <p>Thank you for visiting</p>
          <img src="static/qrdetails.png" width="120" height="80" class="" alt=""/> </div>
          <div class="col-6 inner-content">
              <p> Sai Teja Potu</p>
              <p> Hannover, Germany</p>
              <p>saitejareddypotu@gmail.com</p>
          </div>
      </div>  
    </div>
</section>
{%- endmacro %}